<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOl7nc0U3aPtSvw7VVquLZF9ZU-FFUsjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>906745540819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fullstack</string>
	<key>PROJECT_ID</key>
	<string>newapp-7a139</string>
	<key>STORAGE_BUCKET</key>
	<string>newapp-7a139.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906745540819:ios:ba0b7af74ace124e346426</string>
</dict>
</plist>